<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExploreEase"
        tools:targetApi="31">
        <activity
            android:name=".Dreamland"
            android:exported="false" />
        <activity
            android:name=".Pandharinath"
            android:exported="false" />
        <activity
            android:name=".PrabhuRes"
            android:exported="false" />
        <activity
            android:name=".VitthalInn"
            android:exported="false" />
        <activity
            android:name=".Balaji"
            android:exported="false" />
        <activity
            android:name=".Dhanashree"
            android:exported="false" />
        <activity
            android:name=".Annapurna"
            android:exported="false" />
        <activity
            android:name=".Sadguru"
            android:exported="false" />
        <activity
            android:name=".Radhesh"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".Atithi"
            android:exported="false" />
        <activity
            android:name=".about1"
            android:exported="false" />
        <activity
            android:name=".FoodListTwo"
            android:exported="false" />
        <activity
            android:name=".VitthalTemple"
            android:exported="false" />
        <activity
            android:name=".IskconTemple"
            android:exported="false" />
        <activity
            android:name=".PlacesListTwoActivity"
            android:exported="false" />
        <activity
            android:name=".StayListActivityTwo"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".PlacesListActivity"
            android:exported="false" />
        <activity
            android:name=".StayListActivity"
            android:exported="false" />
        <activity
            android:name=".OptionActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".ChandraBhaga"
            android:exported="true" />
        <activity
            android:name=".Gajanan"
            android:exported="true" />
        <activity
            android:name=".MainActivityKaikadi"
            android:exported="true" />
        <activity
            android:name=".pundalik"
            android:exported="true" />
        <activity
            android:name=".Tulasi"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>